# --- JAVA & MAVEN ---
bin/
/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.nextSnapshot
release.properties
/lib/

# --- SPRING BOOT ---
.mvn/wrapper/maven-wrapper.jar
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# --- IDEs ---
# IntelliJ
.idea/
*.iws
*.iml
*.ipr
out/

# VS Code
.vscode/

# Eclipse
.settings/
.classpath
.project
.factorypath

# --- SISTEMA E LOGS ---
log/
*.log
.DS_Store